@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AMS ---- Git</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Learn to Enjoy. Welcome to Hud........</h1>
    <h1>Features by F1. Welcome to Hud........</h1>
</div>
